# PostgreSQL
POSTGRES_DB=your_bd
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
TZ=Europe/Moscow
# Spring DataSource
SPRING_DATASOURCE_URL=jdbc:postgresql://"host":5432/your_bd
SPRING_DATASOURCE_USERNAME=cloud_user
SPRING_DATASOURCE_PASSWORD=cloud_pass
# Redis
SPRING_DATA_REDIS_HOST=redis
# minIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=login
MINIO_SECRET_KEY=password